data
.*
!.gitignore
!.dockerignore
!.env.template
!.bumpversion.cfg


packages/eightballer/connections/
packages/eightballer/contracts/
packages/eightballer/protocols/
packages/eightballer/skills/prometheus/

__pycache__

*private_key*
keys.json
packages/open_aea/
packages/valory/


agent/
service/


